

.poop {
  display: none;
}
.noise {
    /* ... */
    background:
      linear-gradient(0.46turn, rgb(255, 255, 216,1), rgb(255, 255, 216, 0.8),  rgb(229, 255, 216, 0.1)),
      url(/bg.svg);
  }
.scrollbar::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #f7f4ed;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #e0cbcb;
  border-radius: 100vh;
  border: 3px solid #f6f7ed;
}
  .nav-btn {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    color: white;
    font-size: 18px;
    backdrop-filter: blur(5px);
  }

  .nav-btn:hover {
    background: rgba(255, 255, 255, 0.3);
    transform: scale(1.05);
  }
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #c0a0b9;
}

  .btn, .back-btn {
      background:  #eb8e47;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 0.95rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .btn:hover, .back-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 5px rrgba(0, 0, 0, 0.4)
  }
  .glass3d-wrapper {
    background: rgba(90, 90, 90, 0.25);
    backdrop-filter: blur(10px);

  }

